.container{
    min-width: 550px;
}

.left-column{
    background-color: #F4FBFC;
    height: 100%;
    width: 22%;
    border-right: 1px solid #808080;
}

.form-vrap{
    margin: 10px;
}

.login-info-text{
    margin: 0 10px;
    text-align: right;
}

.content{
    background-color: #EEFBFC;
}

.statistic{
    background-color: #F4FBFC;
}

.login-form-lables{
    margin: 10px;
    text-align: right;
}

.login-form{
    width: 100%;
    display: flex;
    border: 1px solid #808080;
    box-sizing: border-box;
}

.login-form-inputs{
    margin: 10px 0;
}

.login-form-lables-login{
    display: inline-block;
    margin: 4px 0;
}

.login-form-lables-password{
    display: inline-block;
    margin: 2px 0;
}

.login-form-lables-remember{
    display: inline-block;
    margin: 2px 0;
}
.login{
    margin: 3px 0;
}

.password{
    margin: 0;
}

.remember{
    margin: 5px 0;
}