.container{
    min-width: 760px;
    min-height: 420px;
}

.login-info-text{
    margin: 0;
    text-align: right;
}

.username{
    font-weight: bold;
}

.logout{
    margin: 0 5px;
}

.left-column{
    height: 100%;
    width: 22%;
    border-right: 1px solid #808080;
    display: inline-block;
}

.free-space{
    margin: 5px;
}

.free-space-title{
    font-weight: bold;
}

.filled-space{
    margin: 5px;
}

.info-table{
    width: 100%;
    text-align: center;
}

.table-head-row{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.table-row{
    border-bottom: 1px solid lightgray;
}

.upload-file-form{
    border: 1px solid lightgray;
    padding: 5px;
    margin-top: 5px;
}

.file-form-title{
    font-weight: bold;
}

.upload-file-form-buttons{
    margin: 2px;
    width: 60px;
    border: 1px solid lightgrey;
    background-color: #f2f2f2;
    padding: 2px;
    width: 70px;
}
.button-field-wrap{
    display: flex;
    align-items: center;
}

.input-file-field{
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 21px;
}

.request-from-remote-server{
    border: 1px solid lightgray;
    padding: 5px;
    margin-top: 5px;
}

.request-from-remote-server-field{
    width: 100%;
    height: 21px;
    border: 1px solid lightgrey;
}

.request-from-remote-server-checkbox{
    margin: 5px 3px;
}

.submit-button{
    border: 1px solid lightgrey;
    background-color: #f2f2f2;
    padding: 2px;
    width: 70px;
    margin: 2px;
}

.delete-link{
    color: red;
}

.sorting-button{
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}