.container{
    min-width: 760px;
    min-height: 420px;
}

.login-info-text{
    margin: 0;
    text-align: right;
}

.username{
    font-weight: bold;
}

.logout{
    margin: 0 5px;
}

.left-column{
    height: 100%;
    width: 22%;
    border-right: 1px solid #808080;
    display: inline-block;
}

.free-space{
    margin: 5px;
}

.free-space-title{
    font-weight: bold;
}

.filled-space{
    margin: 5px;
}

.info-table{
    width: 100%;
    text-align: center;
}

.upload-file-form{
    border: 1px solid darkgray;
    padding: 5px;
}

.file-form-title{
    font-weight: bold;
}

.upload-file-form-buttons{
    margin: 2px;
    width: 60px;
}

.request-from-remote-server{
    border: 1px solid darkgray;
    padding: 5px;
    margin-top: 5px;
}

.request-from-remote-server-field{
    width: 95%;
}

.request-from-remote-server-checkbox{
    margin: 5px 3px;
}